/* GENERAL CONTAINER */
.general-container {
  padding: 1rem;
}

/* GRID CONTAINER */
.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Más ítems por fila */
  gap: 1rem;
  padding: 1rem;
}

/* GRID ITEM */
.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  padding: 1rem;
  cursor: pointer;
}

.grid-item:hover {
  background-color: #eaeaea;
  transform: scale(1.03);
}

/* IMAGE CONTAINER */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
  height: 100%; /* Asegura que el contenedor ocupe el alto completo */
}

.profile-image,
.plus-image,
#paperImage,
#documentImage {
  width: 100px;
  height: 100px;
  object-fit: cover; /* Usa cover para asegurar que la imagen llene el área circular */
  border-radius: 50%; /* Mantiene la forma circular */
  transition: transform 0.3s ease;
}

.profile-image:hover,
.plus-image:hover,
#paperImage:hover,
#documentImage:hover {
  transform: scale(1.1);
}

/* TEXT INSIDE GRID ITEM */
.grid-item h3,
.grid-item h5,
.grid-item h6,
.grid-item p {
  margin: 0.2rem 0;
  text-align: center;
  color: #333;
}

.grid-item h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

.grid-item h5 {
  font-size: 1rem;
  font-weight: 600;
}

.grid-item h6,
.grid-item p {
  font-size: 0.9rem;
  color: #555;
}

/* RESPONSIVE ADJUSTMENTS */
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .profile-image,
  .plus-image,
  #paperImage,
  #documentImage {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
